/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2021, 8:42:19 AM
    Author     : Kien Nguyen
*/

.footer
{
    background-image: url(../images/footer.jpg);
    width: 887px;
    height: 78px;
}